/*
	style.css for Trivia Game
  BootCamp at UNC Homework Assignment 5
	September 30, 2017
	Bo Slott
*/

/*  -------------------------------------------------------------  */

/*  Typography  */

/*  Structure */

  .game-board-outer {

  }

  .game-board {
    width: 50%;
    margin: 2em auto;
    padding: 10%;
    background-color: #efefef;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    border-radius: 2%;
    /*box-shadow: 0.3em 0.3em 0.6em grey;*/
  }

  .question-display-row,
  .answer-display-row,
  .buttons-display-row,
  .timer-row {

  }

  #liveQues {

  }

  #liveAnsrOpts {

  }

  .answer-options-radio-buttons {
    margin-left: 15%
    padding-left: 5%;
  }

  #gamePlayBtns {

  }

  #timer {

  }



/*  General Use */

/*  Site Sections */
